

#cells {

	margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    margin-left: 0%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
}

#cells h1 {
	text-align: center;
    height: 45%;
	width: 45%;
	margin-top: 20%;
    margin-bottom: 20%;
    margin-right: 20%;
    margin-left: 20%;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
}

p {
    height: 45%;
	width: 45%;	
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/*

THIS IS ALL STUFF FROM THE FLICKLIST PROJECT

.well {
	background: red;
	color: white;
	border-width: 0px;
}

.btn {
	width: 100%;
}

.jumbotron {
	background: gray;
	color: white;
}

#section-watchlist {
	color: gray;
	min-height: 300px;
}

#section-watchlist li {
	display: inline-block;
	width: 160px;
	margin: 10px;
	position: relative;
}

#section-watchlist button {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: rgba(0,0,0,0.7);
	color: white;
	border-radius: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#section-watchlist button:hover {
	background: red;
	color: white;
}

.panel {
	margin: 0px;
}

.carousel {
	max-width: 300px;
	margin: 0 auto;
	margin-bottom: 10px;
}

img {
	width: 100%;
	border-radius: 4px;
}

ul {
	padding: 0px;
}

#section-browse {
	background: black;
}

header {
	margin-bottom: 40px;
	color: gray;
}

section, .jumbotron {
	padding: 20px;
}

footer {
	text-align: center;
	margin-top: 60px;
}

*/